<!-- Card stats -->
<div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">GBP BALANCE</h5>
              <span class="h2 font-weight-bold mb-0">
                {{kraken_balance(client, "ZGBP") | float | round(4)}}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape text-white rounded-circle shadow">
                <img height="50" width="50" src="/static/assets/img/symbols/gbp.ico">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">ETH BALANCE</h5>
              <span class="h2 font-weight-bold mb-0">
                {{coinbase_balance(client, "ETH")}}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape text-white rounded-circle shadow">
                <img height="50" width="50" src="/static/assets/img/symbols/bnb.ico">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">CHZ BALANCE</h5>
              <span class="h2 font-weight-bold mb-0">
                {{coinbase_balance(client, "CHZ")}}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape text-white rounded-circle shadow">
                <img height="50" width="50" src="/static/assets/img/symbols/gbp.ico">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">BTC BALANCE</h5>
              <span class="h2 font-weight-bold mb-0">
                {{coinbase_balance(client, "BTC")| float | round(4)}}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape text-white rounded-circle shadow">
                <img height="50" width="50" src="/static/assets/img/symbols/eth.ico">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
  </div>