<div class="table-responsive">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-text">You have <strong>{{pagination.active}} </strong>active bots and <strong>{{pagination.paused}}</strong> paused bots, You created
            <strong>{{pagination.total}}</strong> Total Bots</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <table class="table align-items-center table-dark table-flush">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort" data-sort="name display-2">#</th>
                <th scope="col" class="sort" data-sort="name display-2">Logic</th>
                <th scope="col" class="sort" data-sort="budget">Pairs</th>
                <th scope="col" class="sort" data-sort="budget">C Price</th>
                {% if current_user.active_platform["name"] == "Coinbase Pro" %}
                <th scope="col" class="sort" data-sort="budget">Quantity</th>
                {% else %}
                <th scope="col" class="sort" data-sort="budget">Amount</th>
                {% endif %}
                <th scope="col" class="sort" data-sort="status">Sell P</th>
                <th scope="col" class="sort" data-sort="status">First Grid</th>
                <th scope="col" class="sort" data-sort="status">Grid Int</th>
                <th scope="col" class="sort" data-sort="completion">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            {% if platform["bots"] != None %}
            {% for bot in my_bots %}
            <tr>
                <td width="5%">
                    {{ loop.index + pagination.skip }}
                </td>
                <td width="10%">
                    {{ bot["strategy"] }}
                </td>
                <td width="10%">
                    {{ bot["pairs"] }}
                </td>
                <td width="10%">
                    {{ bot["current_price"] }}
                </td>
                {% if current_user.active_platform["name"] == "Coinbase Pro" %}
                <td width="10%">
                    {{ bot["quantity"] }}
                </td>
                {% else %}
                <td width="10%">
                    {{ bot["amount"] }}
                </td>
                {% endif %}
                <td width="10%">
                    {{ bot["sell_margin"] }}
                </td>
                <td width="10%">
                    {{ bot["first_grid"] }}
                </td>
                <td width="10%">
                    {{ bot["grid_int"] }}
                </td>
                <td width="10%">
                    {{ bot["status"] }}
                </td>
                <td class="text-center">
                    <span class="ml-7">
                        <a href="{{ url_for('bots.view', id = bot['id']) }}"><i class="fas fa-eye fa-2x"></i></a>
                    </span>
                </td>
            </tr>

            {% endfor %}
            {% else %}
            <tr>
                <td>NO TRADE DETAILS KINDLY CREATE ONE</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- Card footer -->
    <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
        {% if pagination.page - 1 >= 1 %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('users.dashboard', num=pagination.page - 1)}}">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}
        {% for page in pagination.pages %}
           {% if page == pagination.page%}
            <li class="page-item active">
                <a class="page-link" href="{{url_for('users.dashboard', num=page)}}">{{page}}</a>
            </li>
           {% elif page == None %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><span class="sr-only">...</span></a>
            </li>
           {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('users.dashboard', num=page)}}">{{page}}</a></li>
           {% endif %}
        {% endfor %}
        {% if pagination.page < pagination.total/pagination.per_page %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('users.dashboard', num=pagination.page + 1)}}">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {%endif%}
        </ul>
    </nav>
</div>