{% extends "layout.html" %}
{% block style %}
<!-- styles -->
<link rel="stylesheet" href="static/css/styles.css" />
{% endblock %}
{% block body %}
<header class="hero">
  <div class="banner">
    <h2>WELCOME {{ session["user"]["name"] }}</h2>
    <p>This is the dashboard </p>
    <h4>Your BNBGBP Average Cost is {{av(session["user"]["api_key"], session["user"]["secret_key"])}}</h4>
    <button class="btn modal-btn">
      NEW BOT
    </button><br><br>
    <div id="running" class="align-items-center" hidden>
      <p id="Message"></p>
      <strong style="font-size: 1.5rem;">BOT IS CURRENTLY RUNNING PLEASE WAIT</strong>
      <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status" aria-hidden="true"></div>
    </div>
  </div>
</header>
<!-- end of hero -->
<!-- modal -->
<div class="modal-overlay">
  <div class="modal-container" style="height:70vh">
    <form id="form" action="/test" method="post">
      <h3>CREATE NEW BOT</h3>
      <p class="hint-text">Enter accurate details below.</p>
      <p><strong>Note:</strong> Only Current Price Strategy currently
        working</p>
      <input type="text" class="form-control" name="api_key" value="{{session['user']['api_key'] }}" hidden required autofocus>
      <input type="text" class="form-control" name="secret_key" value="{{session['user']['secret_key'] }}" hidden required>
      <div class="form-group">
        <select id="product" class="form-control" name="product">
          <option value="BNB/GBP">BNB/GBP</option>
          <option value="BTC/USDT">BTC/USDT</option>
          <option value="BTC/GBP">BTC/GBP</option>
          <option value="DOGE/GBP">DOGE/GBP</option>
          <option value="ETH/GBP">ETH/GBP</option>
          <option value="LINK/GBP">LINK/GBP</option>
          <option value="SXP/GBP">SXP/GBP</option>
          <option value="XRP/GBP">XRP/GBP</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" step="0.01" class="form-control" name="margin_p" placeholder="Enter Buy Margin Percent"
          required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="amount" placeholder="Enter Amount" required>
      </div>
      <div class="form-group">
        <input type="number" step="0.01" class="form-control" name="quantity"
          placeholder="Quantity will be automatically calculated" disabled>
      </div>
      <div class="form-group">
        <input type="number" step="0.01" class="form-control" name="sell_p" placeholder="Enter Sell Percent" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="trades" placeholder="Enter Number of Trades " required>
      </div>
      <div class="form-group">
        <button type="button" id="run" class="btn btn-success btn-lg btn-block">START</button>
      </div>
    </form>
    <button class="close-btn">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
{% endblock %}