<html>

<head>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/all.css">
  <link rel="stylesheet" href="static/css/register.css">
  <style>
    .message {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5;
      font-size: small;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      text-align: center;
      text-decoration: italic;
      color: yellow;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card row">
          <div class="card-header"><span style="margin-right: 30rem;">LOGIN</span> <button
              class="btn btn-primary"><a style="color: white;" href="/register">REGISTER</a></button> </div>
          {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          {% from "includes/_formhelpers.html" import render_field %}
          <div class="card-body">
            <form class="form-horizontal" method="post" action="/login">
              {{render_field(form.email, "user", class="form-control", size="100", placeholder="Enter your Email")}}
              {{render_field(form.password, "user", class="form-control", size="100", placeholder="Enter your Password")}}
              <div class="form-group ">
                <button id="submit" type="submit"
                  class="btn btn-success btn-lg btn-block login-button">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="static/js/all.min.js"></script>
</body>

</html>